name: API Tests
 
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
  schedule:
    - cron: '0 0 * * 0'  # Weekly on Sundays at midnight
 
jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24.x'
    
    - name: Install Bruno CLI
      run: npm install -g @usebruno/cli@2.15.0
    
    - name: Run API Tests
      run: bru run --env "test-env" --env-var base_url="https://reqres.in" -r --delay 200 --reporter-junit results.xml  --reporter-html report-test-api.html --reporter-skip-all-headers | true
    
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: api-test-artifacts
        path: |
          results.xml
          report-test-api.html
        if-no-files-found: ignore
        overwrite: true